In [1]:
!dir .\files\sample_1.xls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 78D5-6279

 C:\Develops\files 디렉터리

2021-06-23  오후 02:53            27,136 sample_1.xls
               1개 파일              27,136 바이트
               0개 디렉터리  209,559,740,416 바이트 남음

In [2]:
import pandas as pd

In [4]:
sample1 = pd.read_excel('./files/sample_1.xls',
                       header=1,
                       skipfooter=2,
                       usecols='A:C')

In [5]:
!dir .\files\sample_codemaster.xls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 78D5-6279

 C:\Develops\files 디렉터리

2021-06-23  오후 04:51            47,616 sample_codemaster.xls
               1개 파일              47,616 바이트
               0개 디렉터리  209,559,928,832 바이트 남음

In [6]:
sample_code = pd.read_excel('./files/sample_codemaster.xls')

In [8]:
sample1.shape, sample_code.shape

((6, 3), (6, 2))

In [10]:
sample = pd.merge(left=sample1, right=sample_code )

In [ ]:
sample[['국적코드', '성별']]

In [12]:
sample['기준년월'] = '2019-11'

In [13]:
sample

  국적코드  성별    입국객수 국적명     기준년월
0  A01  남성  106320  일본  2019-11
1  A01  여성  191436  일본  2019-11
2  A18  남성  158912  중국  2019-11
3  A18  여성  232943  중국  2019-11